In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np

In [2]:
data_cities = pd.read_csv('cities.csv')
data_providers = pd.read_csv('providers.csv')
data_stations = pd.read_csv('stations.csv')
data_ticket = pd.read_csv('ticket_data.csv')

In [3]:
data_ticket

,id,company,o_station,d_station,departure_ts,arrival_ts,price_in_cents,search_ts,middle_stations,other_companies,o_city,d_city
0,6795025,8385,NaN,NaN,2017-10-13 14:00:00+00,2017-10-13 20:10:00+00,4550,2017-10-01 00:13:31.327+00,NaN,NaN,611,542
1,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},611,542
2,6795027,8377,5905.0,6495.0,2017-10-13 13:27:00+00,2017-10-14 21:24:00+00,7400,2017-10-01 00:13:40.212+00,"{798,798,6794,6246}","{8377,8376}",611,542
3,6795028,8377,5905.0,6495.0,2017-10-13 13:27:00+00,2017-10-14 11:02:00+00,13500,2017-10-01 00:13:40.213+00,"{798,798,6794,6246}","{8377,8376}",611,542
4,6795029,8381,5905.0,6495.0,2017-10-13 21:46:00+00,2017-10-14 19:32:00+00,7710,2017-10-01 00:13:40.213+00,"{5983,5983}",{8380},611,542
...,...,...,...,...,...,...,...,...,...,...,...,...
74163,6869182,13,279.0,10729.0,2017-10-27 02:30:00+00,2017-10-27 16:00:00+00,2590,2017-10-19 10:35:42.943+00,"{408,408}",{8371},628,562
74164,6869185,9,279.0,304.0,2017-10-27 07:00:00+00,2017-10-27 13:30:00+00,2700,2017-10-19 10:35:42.943+00,"{1105,1105}",{9},628,562
74165,6869187,8371,10642.0,304.0,2017-10-27 08:30:00+00,2017-10-27 15:15:00+00,3000,2017-10-19 10:35:42.943+00,"{1105,1105}",{9},628,562
74166,6869189,13,279.0,304.0,2017-10-27 13:25:00+00,2017-10-27 21:10:00+00,2880,2017-10-19 10:35:42.943+00,"{863,863}",{13},628,562
74167,6869191,8371,10642.0,10729.0,2017-10-27 14:45:00+00,2017-10-27 21:40:00+00,2000,2017-10-19 10:35:42.943+00,"{863,863}",{8371},628,562

## Valeurs manquantes dans les données

In [4]:
data_ticket.isna().sum()

id                     0
company                0
o_station          41441
d_station          41441
departure_ts           0
arrival_ts             0
price_in_cents         0
search_ts              0
middle_stations    41441
other_companies    41441
o_city                 0
d_city                 0
dtype: int64

In [5]:
# supprimer les valeurs manquantes
data_ticket.dropna(inplace=True)

In [6]:
data_ticket.isna().sum()

id                 0
company            0
o_station          0
d_station          0
departure_ts       0
arrival_ts         0
price_in_cents     0
search_ts          0
middle_stations    0
other_companies    0
o_city             0
d_city             0
dtype: int64

## Nettoyage des données

In [7]:
data_ticket.dtypes

id                   int64
company              int64
o_station          float64
d_station          float64
departure_ts        object
arrival_ts          object
price_in_cents       int64
search_ts           object
middle_stations     object
other_companies     object
o_city               int64
d_city               int64
dtype: object

In [8]:
data_ticket.head(10)

,id,company,o_station,d_station,departure_ts,arrival_ts,price_in_cents,search_ts,middle_stations,other_companies,o_city,d_city
1,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},611,542
2,6795027,8377,5905.0,6495.0,2017-10-13 13:27:00+00,2017-10-14 21:24:00+00,7400,2017-10-01 00:13:40.212+00,"{798,798,6794,6246}","{8377,8376}",611,542
3,6795028,8377,5905.0,6495.0,2017-10-13 13:27:00+00,2017-10-14 11:02:00+00,13500,2017-10-01 00:13:40.213+00,"{798,798,6794,6246}","{8377,8376}",611,542
4,6795029,8381,5905.0,6495.0,2017-10-13 21:46:00+00,2017-10-14 19:32:00+00,7710,2017-10-01 00:13:40.213+00,"{5983,5983}",{8380},611,542
49,6795074,13,767.0,396.0,2017-10-06 05:25:00+00,2017-10-06 16:40:00+00,1990,2017-10-01 01:04:12.45+00,"{932,932}",{13},628,453
50,6795075,13,10141.0,396.0,2017-10-06 09:05:00+00,2017-10-06 16:40:00+00,1990,2017-10-01 01:04:12.45+00,"{932,932}",{13},628,453
51,6795076,9,10144.0,396.0,2017-10-06 10:05:00+00,2017-10-06 16:40:00+00,1990,2017-10-01 01:04:12.45+00,"{932,932}",{13},628,453
52,6795077,13,701.0,396.0,2017-10-06 10:50:00+00,2017-10-06 16:40:00+00,1990,2017-10-01 01:04:12.451+00,"{932,932}",{13},628,453
53,6795078,9,10144.0,396.0,2017-10-06 11:55:00+00,2017-10-07 18:45:00+00,1800,2017-10-01 01:04:12.451+00,"{932,932}",{13},628,453
55,6795079,9,3.0,396.0,2017-10-06 12:30:00+00,2017-10-06 16:40:00+00,1590,2017-10-01 01:04:12.451+00,"{406,406}",{13},628,453

* Les variables company, o_station et d_station sont des variables à valeurs categorielles. On doit changer leur type.
* On doit changer aussi le type des variables departure_ts et arrival_ts. (to datetime type)

In [9]:
# changer le types des variables qual.
data_ticket.o_station = data_ticket.o_station.astype("category")
data_ticket.d_station = data_ticket.d_station.astype("category")

data_ticket['departure_ts'] = pd.to_datetime(data_ticket['departure_ts'])
data_ticket['arrival_ts'] = pd.to_datetime(data_ticket['arrival_ts'])
data_ticket['search_ts'] = pd.to_datetime(data_ticket['search_ts'])

data_ticket.dtypes

id                               int64
company                          int64
o_station                     category
d_station                     category
departure_ts       datetime64[ns, UTC]
arrival_ts         datetime64[ns, UTC]
price_in_cents                   int64
search_ts          datetime64[ns, UTC]
middle_stations                 object
other_companies                 object
o_city                           int64
d_city                           int64
dtype: object

In [10]:
data_ticket["middle_stations"][2]

'{798,798,6794,6246}'

In [11]:
data_ticket["other_companies"][1]

'{13}'

Les deux variables '**middle_stations**' et '**other_companies**' sont des listes de valeurs sauf qu'il sont de type object (string)

In [12]:
import ast
data_ticket["middle_stations"] = data_ticket["middle_stations"].apply(lambda x: ast.literal_eval(x.strip()))
data_ticket["other_companies"] = data_ticket["other_companies"].apply(lambda x: ast.literal_eval(x.strip()))

In [13]:
data_ticket["middle_stations"][2]

{798, 6246, 6794}

## Ajouter quelques variables

Les premières variable qu'on peut extraire sont les durées entre les différente variables de temps

In [14]:
# Calculer une variable qui représentera la durée du trajet
data_ticket['duration'] = (data_ticket['arrival_ts'] - data_ticket['departure_ts'])/ pd.Timedelta(1, unit='h')

# Calculer une variable qui représentera la durée entre le départ et la recherche du ticket
data_ticket['duration_search'] = (data_ticket['departure_ts'] - data_ticket['search_ts'])/ pd.Timedelta(1, unit='h')


data_ticket

,id,company,o_station,d_station,departure_ts,arrival_ts,price_in_cents,search_ts,middle_stations,other_companies,o_city,d_city,duration,duration_search
1,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00:00,2017-10-14 06:55:00+00:00,1450,2017-10-01 00:13:35.773000+00:00,"{418, 149}",{13},611,542,17.833333,300.856730
2,6795027,8377,5905.0,6495.0,2017-10-13 13:27:00+00:00,2017-10-14 21:24:00+00:00,7400,2017-10-01 00:13:40.212000+00:00,"{6246, 6794, 798}","{8376, 8377}",611,542,31.950000,301.222163
3,6795028,8377,5905.0,6495.0,2017-10-13 13:27:00+00:00,2017-10-14 11:02:00+00:00,13500,2017-10-01 00:13:40.213000+00:00,"{6246, 6794, 798}","{8376, 8377}",611,542,21.583333,301.222163
4,6795029,8381,5905.0,6495.0,2017-10-13 21:46:00+00:00,2017-10-14 19:32:00+00:00,7710,2017-10-01 00:13:40.213000+00:00,{5983},{8380},611,542,21.766667,309.538830
49,6795074,13,767.0,396.0,2017-10-06 05:25:00+00:00,2017-10-06 16:40:00+00:00,1990,2017-10-01 01:04:12.450000+00:00,{932},{13},628,453,11.250000,124.346542
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74163,6869182,13,279.0,10729.0,2017-10-27 02:30:00+00:00,2017-10-27 16:00:00+00:00,2590,2017-10-19 10:35:42.943000+00:00,{408},{8371},628,562,13.500000,183.904738
74164,6869185,9,279.0,304.0,2017-10-27 07:00:00+00:00,2017-10-27 13:30:00+00:00,2700,2017-10-19 10:35:42.943000+00:00,{1105},{9},628,562,6.500000,188.404738
74165,6869187,8371,10642.0,304.0,2017-10-27 08:30:00+00:00,2017-10-27 15:15:00+00:00,3000,2017-10-19 10:35:42.943000+00:00,{1105},{9},628,562,6.750000,189.904738
74166,6869189,13,279.0,304.0,2017-10-27 13:25:00+00:00,2017-10-27 21:10:00+00:00,2880,2017-10-19 10:35:42.943000+00:00,{863},{13},628,562,7.750000,194.821405
74167,6869191,8371,10642.0,10729.0,2017-10-27 14:45:00+00:00,2017-10-27 21:40:00+00:00,2000,2017-10-19 10:35:42.943000+00:00,{863},{8371},628,562,6.916667,196.154738

data_ticket ['other_companies'] = data_ticket.apply(lambda row: [val for val in row['other_companies'] if val != row['company']], axis=1)

In [15]:
data_ticket['n_other_companies'] = [len(l) for l in data_ticket['other_companies']] 
data_ticket

,id,company,o_station,d_station,departure_ts,arrival_ts,price_in_cents,search_ts,middle_stations,other_companies,o_city,d_city,duration,duration_search,n_other_companies
1,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00:00,2017-10-14 06:55:00+00:00,1450,2017-10-01 00:13:35.773000+00:00,"{418, 149}",{13},611,542,17.833333,300.856730,1
2,6795027,8377,5905.0,6495.0,2017-10-13 13:27:00+00:00,2017-10-14 21:24:00+00:00,7400,2017-10-01 00:13:40.212000+00:00,"{6246, 6794, 798}","{8376, 8377}",611,542,31.950000,301.222163,2
3,6795028,8377,5905.0,6495.0,2017-10-13 13:27:00+00:00,2017-10-14 11:02:00+00:00,13500,2017-10-01 00:13:40.213000+00:00,"{6246, 6794, 798}","{8376, 8377}",611,542,21.583333,301.222163,2
4,6795029,8381,5905.0,6495.0,2017-10-13 21:46:00+00:00,2017-10-14 19:32:00+00:00,7710,2017-10-01 00:13:40.213000+00:00,{5983},{8380},611,542,21.766667,309.538830,1
49,6795074,13,767.0,396.0,2017-10-06 05:25:00+00:00,2017-10-06 16:40:00+00:00,1990,2017-10-01 01:04:12.450000+00:00,{932},{13},628,453,11.250000,124.346542,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74163,6869182,13,279.0,10729.0,2017-10-27 02:30:00+00:00,2017-10-27 16:00:00+00:00,2590,2017-10-19 10:35:42.943000+00:00,{408},{8371},628,562,13.500000,183.904738,1
74164,6869185,9,279.0,304.0,2017-10-27 07:00:00+00:00,2017-10-27 13:30:00+00:00,2700,2017-10-19 10:35:42.943000+00:00,{1105},{9},628,562,6.500000,188.404738,1
74165,6869187,8371,10642.0,304.0,2017-10-27 08:30:00+00:00,2017-10-27 15:15:00+00:00,3000,2017-10-19 10:35:42.943000+00:00,{1105},{9},628,562,6.750000,189.904738,1
74166,6869189,13,279.0,304.0,2017-10-27 13:25:00+00:00,2017-10-27 21:10:00+00:00,2880,2017-10-19 10:35:42.943000+00:00,{863},{13},628,562,7.750000,194.821405,1
74167,6869191,8371,10642.0,10729.0,2017-10-27 14:45:00+00:00,2017-10-27 21:40:00+00:00,2000,2017-10-19 10:35:42.943000+00:00,{863},{8371},628,562,6.916667,196.154738,1

In [16]:
data_ticket.reset_index(inplace = True)

In [17]:
data_ticket

,index,id,company,o_station,d_station,departure_ts,arrival_ts,price_in_cents,search_ts,middle_stations,other_companies,o_city,d_city,duration,duration_search,n_other_companies
0,1,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00:00,2017-10-14 06:55:00+00:00,1450,2017-10-01 00:13:35.773000+00:00,"{418, 149}",{13},611,542,17.833333,300.856730,1
1,2,6795027,8377,5905.0,6495.0,2017-10-13 13:27:00+00:00,2017-10-14 21:24:00+00:00,7400,2017-10-01 00:13:40.212000+00:00,"{6246, 6794, 798}","{8376, 8377}",611,542,31.950000,301.222163,2
2,3,6795028,8377,5905.0,6495.0,2017-10-13 13:27:00+00:00,2017-10-14 11:02:00+00:00,13500,2017-10-01 00:13:40.213000+00:00,"{6246, 6794, 798}","{8376, 8377}",611,542,21.583333,301.222163,2
3,4,6795029,8381,5905.0,6495.0,2017-10-13 21:46:00+00:00,2017-10-14 19:32:00+00:00,7710,2017-10-01 00:13:40.213000+00:00,{5983},{8380},611,542,21.766667,309.538830,1
4,49,6795074,13,767.0,396.0,2017-10-06 05:25:00+00:00,2017-10-06 16:40:00+00:00,1990,2017-10-01 01:04:12.450000+00:00,{932},{13},628,453,11.250000,124.346542,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32722,74163,6869182,13,279.0,10729.0,2017-10-27 02:30:00+00:00,2017-10-27 16:00:00+00:00,2590,2017-10-19 10:35:42.943000+00:00,{408},{8371},628,562,13.500000,183.904738,1
32723,74164,6869185,9,279.0,304.0,2017-10-27 07:00:00+00:00,2017-10-27 13:30:00+00:00,2700,2017-10-19 10:35:42.943000+00:00,{1105},{9},628,562,6.500000,188.404738,1
32724,74165,6869187,8371,10642.0,304.0,2017-10-27 08:30:00+00:00,2017-10-27 15:15:00+00:00,3000,2017-10-19 10:35:42.943000+00:00,{1105},{9},628,562,6.750000,189.904738,1
32725,74166,6869189,13,279.0,304.0,2017-10-27 13:25:00+00:00,2017-10-27 21:10:00+00:00,2880,2017-10-19 10:35:42.943000+00:00,{863},{13},628,562,7.750000,194.821405,1
32726,74167,6869191,8371,10642.0,10729.0,2017-10-27 14:45:00+00:00,2017-10-27 21:40:00+00:00,2000,2017-10-19 10:35:42.943000+00:00,{863},{8371},628,562,6.916667,196.154738,1

In [18]:
data_ticket['trajet'] = [[data_ticket['o_city'][i],data_ticket['d_city'][i]] for i in range(0,data_ticket.shape[0]) ]

In [19]:
data_ticket

,index,id,company,o_station,d_station,departure_ts,arrival_ts,price_in_cents,search_ts,middle_stations,other_companies,o_city,d_city,duration,duration_search,n_other_companies,trajet
0,1,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00:00,2017-10-14 06:55:00+00:00,1450,2017-10-01 00:13:35.773000+00:00,"{418, 149}",{13},611,542,17.833333,300.856730,1,"[611, 542]"
1,2,6795027,8377,5905.0,6495.0,2017-10-13 13:27:00+00:00,2017-10-14 21:24:00+00:00,7400,2017-10-01 00:13:40.212000+00:00,"{6246, 6794, 798}","{8376, 8377}",611,542,31.950000,301.222163,2,"[611, 542]"
2,3,6795028,8377,5905.0,6495.0,2017-10-13 13:27:00+00:00,2017-10-14 11:02:00+00:00,13500,2017-10-01 00:13:40.213000+00:00,"{6246, 6794, 798}","{8376, 8377}",611,542,21.583333,301.222163,2,"[611, 542]"
3,4,6795029,8381,5905.0,6495.0,2017-10-13 21:46:00+00:00,2017-10-14 19:32:00+00:00,7710,2017-10-01 00:13:40.213000+00:00,{5983},{8380},611,542,21.766667,309.538830,1,"[611, 542]"
4,49,6795074,13,767.0,396.0,2017-10-06 05:25:00+00:00,2017-10-06 16:40:00+00:00,1990,2017-10-01 01:04:12.450000+00:00,{932},{13},628,453,11.250000,124.346542,1,"[628, 453]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32722,74163,6869182,13,279.0,10729.0,2017-10-27 02:30:00+00:00,2017-10-27 16:00:00+00:00,2590,2017-10-19 10:35:42.943000+00:00,{408},{8371},628,562,13.500000,183.904738,1,"[628, 562]"
32723,74164,6869185,9,279.0,304.0,2017-10-27 07:00:00+00:00,2017-10-27 13:30:00+00:00,2700,2017-10-19 10:35:42.943000+00:00,{1105},{9},628,562,6.500000,188.404738,1,"[628, 562]"
32724,74165,6869187,8371,10642.0,304.0,2017-10-27 08:30:00+00:00,2017-10-27 15:15:00+00:00,3000,2017-10-19 10:35:42.943000+00:00,{1105},{9},628,562,6.750000,189.904738,1,"[628, 562]"
32725,74166,6869189,13,279.0,304.0,2017-10-27 13:25:00+00:00,2017-10-27 21:10:00+00:00,2880,2017-10-19 10:35:42.943000+00:00,{863},{13},628,562,7.750000,194.821405,1,"[628, 562]"
32726,74167,6869191,8371,10642.0,10729.0,2017-10-27 14:45:00+00:00,2017-10-27 21:40:00+00:00,2000,2017-10-19 10:35:42.943000+00:00,{863},{8371},628,562,6.916667,196.154738,1,"[628, 562]"

In [20]:
data_cities

,id,local_name,unique_name,latitude,longitude,population
0,5159,"Padua, Veneto, Italia",padua,45.406435,11.876761,209678.0
1,76,"Barcelona, Cataluña, España",barcelona,41.385064,2.173404,1611822.0
2,81,"Basel, Basel-Stadt, Schweiz",basel,47.593437,7.619812,NaN
3,259,"Erlangen, Bayern, Deutschland",erlangen,49.589674,11.011961,105412.0
4,11979,"Balș, Olt, România",balș,44.353354,24.095672,NaN
...,...,...,...,...,...,...
8035,9964,"Saint-André-lez-Lille, Hauts-de-France, France",saint-andre-lez-lille,50.654250,3.047690,NaN
8036,10863,"Kiev, Шевченківський район, Ukraine",kiev,50.450100,30.523400,NaN
8037,11144,"Brighton, England, UK",brighton,50.822000,-0.137400,NaN
8038,11377,"Manises, Comunitat Valenciana, España",manises,39.493000,-0.462100,NaN
8039,11537,"South Cambridgeshire, England, UK",south-cambridgeshire,52.179600,-0.003400,NaN

In [ ]:
data_cities["distance"] = data_cities[]

on peut calculer à partir des longitudes et latitudes les distances entre deux villes (dans les données des tickets).

In [34]:
import haversine
def calculate_distance_city(id1, id2):
    city1 = (data_cities.latitude[data_cities['id'] == id1].values[0], data_cities.longitude[data_cities['id'] == id1].values[0])
    city2 = (data_cities.latitude[data_cities['id'] == id2].values[0], data_cities.longitude[data_cities['id'] == id2].values[0])
    return haversine.haversine(city1, city2)

In [41]:
o_city = data_ticket['o_city']
d_city = data_ticket['d_city']
data_ticket['distance_cities'] = [calculate_distance(o_city[i],d_city[i]) for i in range(0,data_ticket.shape[0]) ]
#data_ticket['distance'] = data_ticket.apply(lambda row: calculate_distance(row['o_city'], row['d_city']), axis=1)
data_ticket

,index,id,company,o_station,d_station,departure_ts,arrival_ts,price_in_cents,search_ts,middle_stations,other_companies,o_city,d_city,duration,duration_search,n_other_companies,trajet,distance,distance_cities
0,1,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00:00,2017-10-14 06:55:00+00:00,1450,2017-10-01 00:13:35.773000+00:00,"{418, 149}",{13},611,542,17.833333,300.856730,1,"[611, 542]",503.197862,503.197862
1,2,6795027,8377,5905.0,6495.0,2017-10-13 13:27:00+00:00,2017-10-14 21:24:00+00:00,7400,2017-10-01 00:13:40.212000+00:00,"{6246, 6794, 798}","{8376, 8377}",611,542,31.950000,301.222163,2,"[611, 542]",503.197862,503.197862
2,3,6795028,8377,5905.0,6495.0,2017-10-13 13:27:00+00:00,2017-10-14 11:02:00+00:00,13500,2017-10-01 00:13:40.213000+00:00,"{6246, 6794, 798}","{8376, 8377}",611,542,21.583333,301.222163,2,"[611, 542]",503.197862,503.197862
3,4,6795029,8381,5905.0,6495.0,2017-10-13 21:46:00+00:00,2017-10-14 19:32:00+00:00,7710,2017-10-01 00:13:40.213000+00:00,{5983},{8380},611,542,21.766667,309.538830,1,"[611, 542]",503.197862,503.197862
4,49,6795074,13,767.0,396.0,2017-10-06 05:25:00+00:00,2017-10-06 16:40:00+00:00,1990,2017-10-01 01:04:12.450000+00:00,{932},{13},628,453,11.250000,124.346542,1,"[628, 453]",205.842875,205.842875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32722,74163,6869182,13,279.0,10729.0,2017-10-27 02:30:00+00:00,2017-10-27 16:00:00+00:00,2590,2017-10-19 10:35:42.943000+00:00,{408},{8371},628,562,13.500000,183.904738,1,"[628, 562]",338.320602,338.320602
32723,74164,6869185,9,279.0,304.0,2017-10-27 07:00:00+00:00,2017-10-27 13:30:00+00:00,2700,2017-10-19 10:35:42.943000+00:00,{1105},{9},628,562,6.500000,188.404738,1,"[628, 562]",338.320602,338.320602
32724,74165,6869187,8371,10642.0,304.0,2017-10-27 08:30:00+00:00,2017-10-27 15:15:00+00:00,3000,2017-10-19 10:35:42.943000+00:00,{1105},{9},628,562,6.750000,189.904738,1,"[628, 562]",338.320602,338.320602
32725,74166,6869189,13,279.0,304.0,2017-10-27 13:25:00+00:00,2017-10-27 21:10:00+00:00,2880,2017-10-19 10:35:42.943000+00:00,{863},{13},628,562,7.750000,194.821405,1,"[628, 562]",338.320602,338.320602
32726,74167,6869191,8371,10642.0,10729.0,2017-10-27 14:45:00+00:00,2017-10-27 21:40:00+00:00,2000,2017-10-19 10:35:42.943000+00:00,{863},{8371},628,562,6.916667,196.154738,1,"[628, 562]",338.320602,338.320602

In [42]:
data_stations

,id,unique_name,latitude,longitude
0,1,Aalen (Stuttgarter Straße),48.835296,10.092956
1,2,Aéroport Bordeaux-Mérignac,44.830226,-0.700883
2,3,Aéroport CDG,49.009900,2.559310
3,4,Aéroport de Berlin-Schönefeld,52.389446,13.520345
4,5,Aéroport de Dresden,51.123604,13.764737
...,...,...,...,...
11030,11032,Porto Avda De Los Aliados,41.146922,-8.611122
11031,11033,Rom Ciampino Flughafen Piazzale Leonardo da Vinci,41.804102,12.597110
11032,11034,Sants,41.379892,2.139462
11033,11035,Vozilici D66,45.157136,14.164140
11034,11036,Wien Hotel ibis Vienna Airport,48.123229,16.437528

on peut faire de même et calculer la distance entre les stations

### Descrition des features:


*   ***id***: Id du ticket
*   ***company***: Companie de voyage (compagnie de train par exemple)
*   ***o_station, d_station***: Station de départ (**O**rigin station) et d'arrivée (**D**estination station)
*   ***departure_ts, arrival_ts***: Heure de départ et heure d'arrivée
*   ***price_in_cents***: Prix du ticket
*   ***search_ts***: L'heure de la recherche des voyages
*   ***middle_stations***: Les arrêts (stations) de train ou du bus entre la station du départ et celle d'arrivée
*   ***other_companies***: autres companies qui propose le voyage
*   ***o_city, d_city***: Ville de départ (**O**rigin ville) et d'arrivée (**D**estination station)

Ce qu'on peut faire au niveau des deux variables middle_station et other_companies:
* Tirer une variable aui représente le nombre de middles stations et une qui représente le nombre de compagnies qui offrent le même voyage
* Ajouter des variables (une pour chaque compagnies). les variables seront catégorielle et chacune représentera est ce que le voyage (associé au ticket) est proposé par cette compagnie aussi ou non.